* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    background-color: black;
}

header {
    width: 100%;
    height: 5rem;
    background-color: blanchedalmond;
}

header span {
    color: black;
}

.header-wrapper {
    width: 100%;
    max-width: 75rem;
    height: 100%;
    margin: 0 auto;
    padding: 0;

    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;
}

.header-wrapper img {
    height: 50px;
    width: 50px;
}

.content {
    width: 100%;
    max-width: 75rem;
    height: 100%;
    margin: 0 auto;
    padding: 3.125rem;
    flex: 1;

    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.book {
    height: auto;
    width: 31.25rem;
    padding: 0.625rem;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border: dashed 5px rgb(224, 224, 163);
    border-radius: 15px;
}

.content h1 {
    flex: 1;
    align-self: center;
    
    text-align: center;
    font-size: 2.5rem;
    color: white; 
}

.book-cover {
    height: 9.375rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

.book-cover img {
    height: 50px;
    width: 50px;
}

.book-info {
    width: 100%;

    display: flex;
    gap: 1rem;
    flex-direction: column;

    font-size: 1.5rem;
}

.info-top {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 2rem;
}

.like-part {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.info-top svg {
    width: 25px;
    height: 25px;

    cursor: pointer;
}

table th {
    padding-bottom: 1rem;

    display: flex;

    text-decoration: underline;
}

.comments {
    font-size: 1.25rem;
}

.comments td {
    vertical-align: top;
    padding-bottom: 0.1875rem;
}

.td-name {
    width: 50px;
    padding-right: 10px;

    font-size: 1rem;
    border-right: 1px solid yellow;
}

.comment-section {
    height: 150px;
    width: 100%;

    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.send-section {
    width: 100%;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.send-section input {
    height: 1.875rem;
    width: 100%;
    padding: 10px;

    color: black;
    border-radius: 10px;

    &::placeholder {
        font-size: 1rem;
    }
}

.send-section button {
    width: 25%;
    height: 1.875rem;

    color: black;
    border-radius: 10px;
}

footer {
    width: 100%;
    height: 5rem;
    background-color: blanchedalmond;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    width: 100%;
    max-width: 75rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    font-size: 2rem;
    color: black;
}

@media screen and (max-width: 560px) {
    .content h1 {
        font-size: 1.5rem
    }

    .book {
        padding: clamp(0.313rem, -0.104rem + 2.083cqw, 0.625rem);
    }

    .info-top {
        font-size: 1.25rem;
    }

    .info-top svg {
        height: 20px;
        width: 20px;
    }

    .info-bottom {
        font-size: clamp(1rem, 0.333rem + 3.333cqw, 1.5rem);
    }

    .info-bottom td,
    tr {
        display: flex;
    }

    .info-bottom .td-left{
        font-style: italic;
    }

    .td-name {
        padding-right: 4px;

        font-size: 1rem;
        font-style: italic;
        border: none;
    }

    .comments {
        font-size: clamp(1rem, 0.333rem + 3.333cqw, 1.5rem);
    }

    .comments table {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    .comments th {
        padding-bottom: 0;
    }

    .comments tr {
        display: flex;
        gap: .25rem;
        flex-direction: column;
    }

    .td-comment {
        border-left: 2px solid rgb(224, 7, 224);
        padding-left: 5px;
    }

    .send-section input {
        padding: 10px;

        &::placeholder {
            font-size: clamp(0.625rem, 0.125rem + 2.5cqw, 1rem);
        }
    }
}