* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

header {
    width: 100%;
    height: 80px;
    background-color: blanchedalmond;
}

header span {
    color: black;
}

.header-wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;

    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.header-wrapper img {
    height: 50px;
    width: 50px;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.content {
    flex: 1;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 50px;

    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    flex-wrap: wrap;
}

.book {
    width: 200px;
    padding: 10px;

    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border: dashed 5px rgb(224, 224, 163);
    border-radius: 15px;
}

.content h1 {
    font-size: 1rem;
    color: white;
    align-self: center;
    text-align: center;
    flex: 1;
}

.book-cover {
    height: 150px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

.book-cover img {
    height: 50px;
    width: 50px;
}

.book-info {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.info-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-part {
    display: flex;
    gap: 4px;
    align-items: center;
}

.info-top svg {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

table {
    font-size: 0.5rem;
}

table th{
    padding-bottom: 3px;

    display: flex;

    text-decoration: underline;
    font-size: 10px;
}
.comments td {
    vertical-align: top;
    padding-bottom: 3px;
}

.td-name {
    width: 50px;
    border-right: 1px solid yellow;
}

.first-comment {
    font-size: 1rem;
}

.comment-section {
    height: 100px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.send-section {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.send-section input {
    width: 100%;
    color: black;

    &::placeholder {
        font-size: 0.6rem;
    }
}

.send-section button {
    color: black;
}

footer {
    width: 100%;
    height: 80px;
    background-color: blanchedalmond;
}

.footer-wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: black;
}